@charset "UTF-8";
ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

.container {
  display: grid;
  height: 100vh;
}
.container header {
  grid-row: 1;
  grid-column: 1;
}
.container main {
  grid-row: 2;
  grid-column: 1;
}
.container aside {
  grid-row: 1/4;
  grid-column: 1;
  display: none;
}
.container footer {
  grid-row: 3;
  grid-column: 1;
}

.l-header {
  background-color: #FFF7EF;
}

.l-sidebar {
  background-color: #F2EDE9;
}

.c-button {
  border-radius: 10px;
  background: #F2EDE9;
  color: #707070;
}

.c-box {
  border: 1px solid #707070;
  border-radius: 10px;
  background: #FFFFFF;
}

.c-title {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
}

.c-subtitle01 {
  font-size: 3.6rem;
  color: #EAEAEA;
  font-family: "M+ 1m", sans-serif;
  font-weight: bold;
}

.c-subtitle02 {
  font-size: 4.1rem;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.c-subtitle03 {
  font-size: 2.2rem;
  color: #3C2A10;
  font-family: "M+ 1m", sans-serif;
  font-weight: bold;
}

.c-text {
  font-family: "M+ 1m", sans-serif;
}

.c-wrapper {
  margin: 5% 5% 49px 5%;
}

.c-mainvisual__bg {
  width: 100%;
  height: auto;
}

.c-bg__front {
  background-color: rgba(0, 0, 0, 0.5);
}

.c-bg__end {
  background-color: rgba(0, 0, 0, 0.2);
}

.c-map {
  width: 100%;
}

.p-footer__copyright {
  font-size: 1.4rem;
  color: #FFFFFF;
  font-family: "M+ 1m", sans-serif;
  margin: 34px 0 30px 0;
}

.p-main__mainvisual {
  position: relative;
  background-image: url(../../../images/front/mainvisual_img.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-top: 76%;
  background-size: cover;
}
.p-main__mainvisual .p-main__mainvisual__title {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  color: #FFFFFF;
  padding-left: 7%;
}

.p-menu__title {
  color: #707070;
  margin-bottom: 40px;
  margin-left: 26%;
  font-size: 3.3vw;
}
.p-menu__list {
  line-height: 2;
  margin: 0 1% 34px 32%;
}
.p-menu__list__item {
  font-family: "M+ 1m", sans-serif;
  font-size: 2.75vw;
  color: #707070;
}

.p-header {
  display: grid;
  place-items: center;
  grid-row-gap: 38px;
  position: relative;
}
.p-header__title {
  margin-top: 40px;
}
.p-header__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin-bottom: 40px;
}
.p-header__search-form__box {
  width: 71%;
  background-image: url(../../images/front/header_search-form_icon_img.png);
  background-repeat: no-repeat;
  background-position: 12px;
}
.p-header__search-form__button {
  width: 24%;
  height: 46px;
  font-weight: bold;
  outline: 1px solid #707070;
  margin-left: 10px;
}
.p-header__menu-button {
  color: #707070;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  margin: 14px 16px 0 0;
}

.p-main__access {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0.29)), to(rgba(0, 0, 0, 0.29))), url(../../../images/front/access-map_img.png);
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.29) 50%, rgba(0, 0, 0, 0.29) 100%), url(../../../images/front/access-map_img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.p-main__access__title {
  position: relative;
  font-size: 3rem;
  padding: 6% 0 6% 11%;
  color: #FFFFFF;
}
.p-main__access__title::before {
  content: "";
  position: absolute;
  bottom: -20px;
  /*線の上下位置*/
  display: inline-block;
  width: 33.89px;
  /*線の長さ*/
  height: 4px;
  /*線の太さ*/
  background-color: #EAEAEA;
  /*線の色*/
  bottom: 10px;
  width: 75px;
  height: 2px;
}
.p-main__access__text {
  padding: 0 10% 51px 10%;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2;
  color: #FFFFFF;
  height: auto;
}

.p-sidebar {
  position: relative;
}
.p-sidebar__list {
  margin-top: 212px;
}
.p-sidebar::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 12%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.p-footer {
  background-image: url(../images/front/footer_img03.jpg);
  text-align: center;
}
.p-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-footer__list__item {
  padding: 0 4%;
  position: relative;
  font-size: 2rem;
  color: #FFFFFF;
  display: inline;
}
.p-footer__list__item:first-child::after {
  position: absolute;
  margin-top: 6px;
  content: "";
  width: 1px;
  height: 70%;
  background-color: #FFFFFF;
  left: 100%;
}

.p-takeout-menu {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 3% 0 3%;
}
.p-takeout-menu__title {
  padding: 3% 3%;
}
.p-takeout-menu__text {
  padding: 0 3% 3% 3%;
}

.p-section {
  position: relative;
  background: url(../../../images/front/article.brunch-menu_img01.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-top: 191.6417%;
  background-size: cover;
  margin-bottom: 6%;
}
.p-section__title {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3%;
  margin-left: 3%;
}
.p-section__title::before {
  content: "";
  position: absolute;
  bottom: -20px;
  /*線の上下位置*/
  display: inline-block;
  width: 33.89px;
  /*線の長さ*/
  height: 4px;
  /*線の太さ*/
  background-color: #EAEAEA;
  /*線の色*/
}
.p-section__list__item {
  padding-bottom: 3%;
}

.p-section02 {
  background: url(../../../images/front/article.brunch-menu_img02.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */