@use "../../Foundation/variable" as v;

// 地図背景
.c-bg__front {
    width: 100vw;
    height: 60vw;
    background-color: rgb(0, 0, 0, .5);
}
// 地図背景
.c-bg__end {
    width: 100vw;
    height: 100vw;
    background-color: rgb(0, 0, 0, .2);
}

