@use "../../Foundation/variable" as v;

// メインビジュアル背景
.c-mainvisual__bg {
    width: 100%;
    height: auto;
}
// 地図背景
.c-bg__front {
    background-color: rgb(0, 0, 0, .5);
}
// 地図背景
.c-bg__end {
    background-color: rgb(0, 0, 0, .2);
}

