@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-card {
    background-color: v.$color08;
    &__title {
        font-family: v.$font-base;
        padding: 4% 0 4% 4%;
        font-size: v.$fz03;
        @include m.media(tab) {
            padding: 4% 0 4% 7%;
        }
        @include m.media(pc) {
            padding: 4% 0 4% 7%;
        }
    }
    &__subtitle {
        padding: 0 0 2% 4%;
        @include m.media(tab) {
            padding:0 0 2% 7%;
        }
        @include m.media(pc) {
            padding: 0 0 2% 7%;
        }
    }
    &__text {
        color: v.$color01;
        font-family: v.$font-base;
        font-size: v.$fz02;
        width: 73%;
        margin-left:4%;
        @include m.media(tab) {
            margin-left: 7%;
        }
        @include m.media(pc) {
            margin-left: 7%;
        }
    }
    &__button {
        text-align: center;
        padding: 10% 0;
        &__text {
            width: 50%;
            background-color: v.$color01;
            padding: 10px 42px;
            border-radius: 20px;
            font-size: v.$fz02;
            color: v.$color02;
            font-weight: bold;
            @include m.media(tab) {
            }
            @include m.media(pc) {
                border-radius: 30px;
                padding: 20px 15%;
            }
        }
    }
}