@use "../../Foundation/variable" as v;

// お持ち帰りタイトル
.c-takeout-menu__title {
    font-size: v.$fz09;
}


// お持ち帰りメニュー
.c-takeout-menu__text {

}

// サイドバーメニュー
.c-menu__item {
    font-size: v.$fz03;
    color: v.$color02;
}