@use "../../Foundation/variable" as v;

// テキスト（原型）
.c-text {
    font-family: v.$font-base;
}

.c-text--bold {
    font-family: v.$font-base;
    font-weight: bold;
    font-size: v.$fz02;
    text-align: left;
    color: v.$color04;
}


