@use "../../Foundation/variable" as v;

// メインタイトル（h1）
.c-title {
    font-size: v.$fz08;
    font-family: v.$font-title;
    font-weight: bold;
    color: v.$color02;
}

// サブタイトル（h2）
.c-subtitle01 {
    font-size: v.$fz07;
    color: v.$color07;
    font-family: v.$font-base;
    font-weight: bold;
}

// サブタイトル（h3）
.c-subtitle02 {
    font-size: v.$fz09;
    color: v.$color01;
    font-family: v.$font-title;
    font-weight: bold;
}


// メニュー部分タイトル（dt）
.c-subtitle03 {
    font-size: v.$fz04;
    color: v.$color04;
    font-family: v.$font-base;
    font-weight: bold;
}
