@use "../../Foundation/variable" as v;

// メインタイトル（h1）
.c-title {
    font-size: v.$fz08;
    font-family: v.$font-title;
    font-weight: bold;
    color: v.$color02;
}

// サブタイトル（h2）
.c-subtitle01 {
    font-size: v.$fz07;
    color: v.$color07;
    font-family: v.$font-base;
    font-weight: bold;
}

// サブタイトル（h3）
.c-subtitle02 {
    color: v.$color01;
    font-family: v.$font-title;
    font-weight: bold;
}

// サブタイトル（h4）
.c-subtitle03 {
    color: v.$color01;
    font-family: v.$font-base;
    font-weight: bold;
    font-size: v.$fz02;
}


// メニュー部分タイトル（dt）
.c-subtitle04 {
    font-size: v.$fz04;
    color: v.$color04;
    font-family: v.$font-base;
    font-weight: bold;
}

// シングルページ・Pageページのタイトル
.c-title--h2--single {
    font-size: v.$fz07;
}
.c-title--h3--single {
font-size: v.$fz_burger-description_title;
}
.c-title--h4--single {
    font-size: v.$fz03;
}
.c-title--h5--single {
    font-size: v.$fz03;
}
.c-title--h6--single {
    font-size: v.$fz03;
}
