@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-topic {
    display: flex;
    & > img {
        width: 40%;
        height: 40%;
    }
    & > p {
        text-indent: 1em;
    }
}
.c-topic:nth-child(2n) {
        flex-direction: row-reverse;
}