// ヘッダー（コンテナ）
.p-header__container {
    display: flex;
    flex-direction: column;
    .c-header__title {
        text-align: center;
    }
    .c-header__menu {
        text-align: right;
    }
    .p-header__search-form {
        margin: auto;
    }
}