// サーチフォーム
.p-header__search-form {
    display: flex;
    max-width: 320px;
    .c-search-form__box {
        border: 1px solid #000;
        width: 100%;
        background-image: url(../../images/front/header_search-form_icon_img.png);
        background-repeat: no-repeat;
        background-position: 12px;
}
.c-search-form__button {
    margin-left: 10px; //これがModifier？
}
}
