@use "../../Foundation/variable" as v;
@use "../Component/border" as b;
@use "../../Foundation/mixin" as m;

// 地図の部分全部

.p-main__access {
    width: 100%;
    height: auto;
    background:linear-gradient(rgb(0, 0, 0, 0.6) 0%,rgb(0, 0, 0, 0.6) 50%, rgb(0, 0, 0, 0.29) 50%,rgb(0, 0, 0, 0.29) 100%), url(../../../images/front/access-map_img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include m.media(tab) {
        background:linear-gradient(rgb(0, 0, 0, 0.6) 0%,rgb(0, 0, 0, 0.6) 100%), url(../../../images/front/access_map_pc_img.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    @include m.media(pc) {
        background: inherit;
        background-image: url(../../../images/front/access_map_pc_img.png);
        background-color: rgb(0, 0, 0, 0.29);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__title {
        position: relative; //←疑似要素のために
        font-size: v.$fz06;
        padding: 6% 0 6% 11%;
        color: v.$color01;
        @include m.media(pc) {
            width: 60%;
            background-color: rgb(0, 0, 0, 0.6);
        }
    }
    &__title::before {
        @include m.border-bottom;
        bottom: 15%;
        width: 75px;
        height: 2px;
    }
    &__text {
        padding: 0 10% 51px 10%;
        color: v.$color01;
        font-size: v.$fz01;
        font-weight: bold;
        line-height: 2;
        color: v.$color01;
        height: auto;
        @include m.media(pc) {
            width: 60%;
            background-color: rgb(0, 0, 0, 0.6);
        }
    }
}

// OKなら消す↓

// .p-main__access {
//     width: 100%;
//     height: auto;
//     background:linear-gradient(rgb(0, 0, 0, 0.6) 0%,rgb(0, 0, 0, 0.6) 50%, rgb(0, 0, 0, 0.29) 50%,rgb(0, 0, 0, 0.29) 100%), url(../../../images/front/access-map_img.png);
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
//     @include m.media(tab) {
//         background:linear-gradient(rgb(0, 0, 0, 0.6) 0%,rgb(0, 0, 0, 0.6) 100%), url(../../../images/front/access_map_pc_img.png);
//     }
//     @include m.media(pc) {
//         background:linear-gradient(to right, rgb(0, 0, 0, 0.6) 0%,rgb(0, 0, 0, 0.6) 60%, rgb(0, 0, 0, 0.29) 60%,rgb(0, 0, 0, 0.29) 100%), url(../../../images/front/access_map_pc_img.png);
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: cover;
//     }
//         &__title {
//             position: relative; //←疑似要素のために
//             font-size: v.$fz06;
//             padding: 6% 0 6% 11%;
//             color: v.$color01;
//         }
//         &__title::before {
//             @include m.border-bottom;
//             bottom: 15%;
//             width: 75px;
//             height: 2px;
//         }
//         &__text {
//             padding: 0 10% 51px 10%;
//             color: v.$color01;
//             font-size: v.$fz01;
//             font-weight: bold;
//             line-height: 2;
//             color: v.$color01;
//             height: auto;
//             @include m.media(pc) {
//                 width: 45%;
//             }
//         }
//     }