@use "../../Foundation/variable" as v;


.p-main__access {
    width: v.$width_sp;
    height: 691px;
    position: relative;
    overflow: hidden;
    &__conts {
        position: absolute;
        top: 0;
        z-index: 2;
        &__title {
            font-size: v.$fz06;
            padding: 40px 0 40px 11%;
        }
        &__text {
            padding: 0 10% 51px 10%;
            color: v.$color01;
            font-size: v.$fz01;
            font-weight: bold;
            line-height: 2;
        }
    }
    &__map {
        position: absolute;
        top: 0;
        z-index: 1;
    }
}