@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-burger-card {
    @include m.media(tab) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include m.media(pc) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__link {
        @include m.media(tab) {
            pointer-events: none;
        }
        @include m.media(pc) {
            pointer-events: none;
        }
        .c-img__burger {
            width: 100%;
            height: auto;
            vertical-align: bottom;
            @include m.media(tab) {
                height: 100%;
                object-fit: cover;
            }
            @include m.media(pc) {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .c-card {
        @include m.media(tab) {
        }
        @include m.media(pc) {
        }
    }
}