@use "../../Foundation/variable" as v;

// フッターリスト
.p-footer {
    background-image: url(../images/front/footer_img.png);
    text-align: center;
    vertical-align: top;
    &__list {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        & ul {
            width: 100%;
            & li {
                font-family: v.$font-base;
                padding: 0 4%;
                position: relative;
                font-size: v.$fz03;
                color: v.$color01;
                display: inline;
            }
            & li:first-child::after {
                position: absolute;
                margin-top: 6px;
                content: "";
                width: 1px;
                height: 70%;
                background-color: v.$color01;
                left: 100%;
            }
        }
    }
}