@use "../../Foundation/variable" as v;

.p-header {
    display: grid;
    place-items: center;
    grid-row-gap: 38px;
    position: relative;
    &__title {
        margin-top: 40px;
    }
    &__search-form {
        display: flex;
        width: 85%;
        margin-bottom: 40px;
        &__box {
            width: 71%;
            background-image: url(../../images/front/header_search-form_icon_img.png);
            background-repeat: no-repeat;
            background-position: 12px;
        }
        &__button {
            width: 24%;
            height: 46px;
            font-weight: bold;
            outline: 1px solid v.$color02;
            margin-left: 10px;
        }
    }
    &__menu-button {
        color: v.$color02;
        position: absolute;
        top: 0;
        right: 0;
        font-size: v.$fz03;
        margin: 14px 16px 0 0;
    }
}



// // ヘッダー（コンテナ）
// .p-header__container {
//     display: flex;
//     flex-direction: column;
//     .c-header__title {
//         text-align: center;
//     }
//     .c-header__menu {
//         text-align: right;
//     }
//     .p-header__search-form {
//         margin: auto;
//     }
// }