@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;


.p-header {
    display: grid;
    place-items: center;
    grid-row-gap: 38px;
    position: relative;
    // height: 217px;
    @include m.media(pc) {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin: 40px 23% 0 23%;
        @include m.media(pc) {
            margin: 40px 0 40px 4%;
        }
    }
    &__search-form {
        display: flex;
        width: 85%;
        margin-bottom: 40px;
        @include m.media(pc) {
            margin: 0 .7% 0 0;
            width: 35%;
        }
        &__box {
            width: 71%;
            position: relative;
            text-indent: 45px;
            background-image: url(../images/front/header_search-form_icon_img.png);
            background-repeat: no-repeat;
            background-position: 12px;
        }
        &__button {
            width: 24%;
            height: 46px;
            font-weight: bold;
            outline: 1px solid v.$color02;
            margin-left: 10px;
        }
    }
    &__menu-button {
        color: v.$color02;
        position: absolute;
        top: 0;
        right: 0;
        font-size: v.$fz03;
        font-size: 30px;
        margin: 14px 16px 0 0;
        @include m.media(pc) {
            right: -12%;
            top: 30%;
            font-size: 1.77vw;
            z-index: 3000;
            pointer-events: none;
        }
    }
}



// // ヘッダー（コンテナ）
// .p-header__container {
//     display: flex;
//     flex-direction: column;
//     .c-header__title {
//         text-align: center;
//     }
//     .c-header__menu {
//         text-align: right;
//     }
//     .p-header__search-form {
//         margin: auto;
//     }
// }