@use "../../Foundation/variable" as v;

.p-header {
    width: v.$width_sp;
    display: grid;
    place-items: center;
    grid-row-gap: 38px;
    margin: 40px 0;
    &__title {
    }
    &__search-form {
        display: flex;
        width: 85%;
        &__box {
            width: 71%;
            background-image: url(../../images/front/header_search-form_icon_img.png);
            background-repeat: no-repeat;
            background-position: 12px;
        }
        &__button {
            width: 24%;
            height: 46px;
            font-weight: bold;
            outline: 1px solid v.$color02;
            margin-left: 10px;
        }
    }
}























// ヘッダー（コンテナ）
.p-header__container {
    display: flex;
    flex-direction: column;
    .c-header__title {
        text-align: center;
    }
    .c-header__menu {
        text-align: right;
    }
    .p-header__search-form {
        margin: auto;
    }
}