@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

// フロントページのメインビジュアル
.p-main__mainvisual {
    position: relative;
    background-image: url(../../../images/front/mainvisual_sp_img.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    // 画像の高さ÷画像の横幅✕100
    padding-top: 76%;
    background-size: cover;
    @include m.media(tab) {
        background-image: url(../../../images/front/mainvisual_tab_img.png);
        padding-top: 34%;
    }
    .p-main__mainvisual__title {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        color: v.$color01;
        padding-left: 7%;
    }
}

// アーカイブページのメインビジュアル
.p-main__mainvisual__archive {
    background-image: url(../../../images/archive/archive_mainvisual_sp_img.png);
    background-position: left;
}