@use "../../Foundation/variable" as v;
@use "../Component/border" as b;
@use "../../Foundation/mixin" as m;

.p-menu {
    &__title {
        color: v.$color02;
        margin-bottom: 30px;
        margin-left: 12%;
        font-size: 6.4vw;
        @include m.media(tab) {
            font-size: 2.87vw;
        }
        @include m.media(pc) {
            font-size: 1.25vw;
            margin-left: 26%;
        }
    }
    &__list {
        line-height: 2;
        margin: 0 1% 34px 20%;
        font-size: 5.3vw;
        @include m.media(tab) {
            font-size: 2.39vw;
            margin: 0 16% 34px 18%;
        }
        @include m.media(pc) {
            font-size: 1.04vw;
            margin: 0 1% 34px 32%;
        }
        &__item {
            font-family: v.$font-base;
            color: v.$color02;
        }
    }
}

// サイドバーのフォントサイズはカンプの
// px÷メイン画面の幅px✕100
