@use "../../Foundation/variable" as v;
@use "../Component/border" as b;

// セクション（テイクアウト）
.p-section {
    background-image: url(../../../images/front/article.brunch-menu_img01.png);
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    background-size: cover;
    &__title {
        margin-top: 13px;
        margin-left: 3%;
        position: relative;
    }
    &__title::before {
        @include b.border-bottom;
    }
    &__list {
        &__item {

        }
    }
}

.p-section02{
    background-image: url(../../../images/front/article.brunch-menu_img02.png);
}
