@use "../../Foundation/variable" as v;
@use "../Component/border" as b;

// セクション（テイクアウト）
.p-section {
display: grid;
    &__title {
        grid-row: 1;
        grid-column: 1;
        margin-top: 13px;
        margin-left: 3%;
        position: relative;
    }
    &__title::before {
        grid-row: 1;
        grid-column: 1;
        @include b.border-bottom;
    }
    &__list {
        grid-row: 1;
        grid-column: 1;
        &__item {

        }
    }
    .c-section__img {
        grid-row: 1;
        grid-column: 1;
    }
}

