@use "../../Foundation/variable" as v;
@use "../Component/border" as b;

// セクション（テイクアウト）
.p-section {
    position:relative; 
    background:url(../../../images/front/article.brunch-menu_img01.png);
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    padding-top:191.6417%;
    background-size:cover;
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 3%;
        margin-left: 3%;
    }
    &__title::before {
        @include b.border-bottom;
    }
    &__list {
        &__item {
            padding-bottom: 3%;
        }
    }
}

