@use "../../Foundation/variable" as v;
@use "../Component/border" as b;
@use "../../Foundation/mixin" as m;


.p-sidebar {
    position: relative;
    &__list {
        margin-top: 212px;
        &__item {

        }
    }
}

.p-sidebar::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 12%;
    height: 100%;
    background-color: v.$color05;
    opacity: .5;
    @include m.media(pc) {
        content: none;
        }
}

