@use "../../Foundation/variable" as v;
@use "../Component/border" as b;
@use "../../Foundation/mixin" as m;


.p-sidebar {
    position: relative;
    left: 100%;
    transition: all 300ms 0s ease;
    width: 87%;
    z-index: 2000;
    @include m.media(tab) {
        width: 44%;
    }
    @include m.media(pc) {
        left: 0;
        width: 100%;
    }
    &__btn {
        display: inline;
        position: absolute;
        top: -30px;
        right: 20px;
        font-size: 100px;
        color: v.$color02;
        @include m.media(pc) {
            display: none;
        }
        @include m.media(tab) {
            font-size: 70px;
            top: -15px;
        }
    }
    &__list {
        margin-top: 185px;
        @include m.media(pc) {
            margin-top: 130px;
        }
        &__item {
        }
    }
    &.is-open {
        left: 13%;
        @include m.media(tab) {
            left: 56%;
        }
    }
    
}

// aside {
//     left: 100%;
//     left: 70%;
// }

// .p-sidebar::before {
//     content: '';
//     position: absolute;
//     display: inline-block;
//     width: 12%;
//     height: 100%;
//     background-color: v.$color05;
//     opacity: .5;
//     @include m.media(pc) {
//         content: none;
//         }
// }

