@use "../../Foundation/variable" as v;

// お持ち帰りメニュー（dl/dt/dd）
.p-takeout-menu {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 3% 0 3%;
    &__title {
        padding: 3% 3%;
        // margin-bottom: 19px;
    }
    &__text {
        padding: 0 3% 3% 3%;
    }
}