// 検索ボタン（原型）
.c-button {
    border-radius:10px;
    background:#F2EDE9;
    color:#707070;
}
// 検索ボタン（サーチフォーム）
.c-search-form__button {
    width: 78px;
    height: 46px;
    font-weight: bold;
    outline: 1px solid #707070;
}

