// メインタイトル（h1）
.c-title {
    font-size: 40px;
}

// ---------------------------------------------------------
// ---------------------------------------------------------

// サブタイトル（h2）
.c-subtitle01 {
    font-size: 41px;
    color: #fff;
}
// サブタイトル（ヘッダー・h2）
.c-header__subtitle {

}


// サブタイトル（メイン・セクション・h2）
.c-section__title {
    
}

// サブタイトル（h3）
.c-subtitle02 {
    font-size: 24px;
    color: #707070;
}

// サブタイトル（サイドバー・h3）
.c-header__subtitle {

}

// メニュー部分タイトル（dt）
.c-takeout-menu__title {
    font-size: 22px;
}

// サブタイトル（アクセス・h2）
.c-access__subtitle {

}