.l-main {
    width: 375px;
    background-color: turquoise;
    .p-main__mainvisual {
    }
    .p-main_brunch-menu {
        .c-wrapper {
            .p-brunch-menu__list {
                margin: auto;
            }
        }
    }
}

